{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'online_store/css/basket.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="page-head">
  <div class="breadcrumb"><a href="{% url 'index' %}">Главная</a> / Корзина</div>
  <h1 class="page-title">Корзина</h1>
</div>

<div class="basket-wrap">
  <div class="basket-box">
    <p class="basket-placeholder">Раздел в разработке. Здесь появятся товары, добавленные в корзину.</p>
  </div>
</div>

{% endblock %}
