{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'online_store/css/base.css' %}" rel="stylesheet">

    {% block css %} {% endblock %}

</head>
<body>
    <header>
        <a class="logo-btn"  href="{% url 'index' %}">
        <span class="box">OS</span>
        <span class="store-word">ONLINE STORE</span>
        </a>
        <nav class="top-links">
        <a href="#catalog">Каталог</a>
        <a href="{% url 'config' %}">Конфигуратор ПК</a>
        <a href="#">Гарантия</a>
        <a href="#">Контакты</a>
        </nav>
        <button class="header-cta">Корзина</button>
    </header>

    {% block content %} {% endblock %}

    <footer>
    <span class="footer-placeholder">Здесь потом будет информация</span>
  </footer>

</body>
</html>